body {
    background-image: url('./assets/backgrounds/kitchen.jpg');
    background-position: bottom left 28%;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
}

a {
    color: #272422;
    text-decoration: none;
}

#heading {
    position: absolute;
    top: 130px;
    background-color: #272422;
}

#heading span {
    font-weight: 900;
    font-size: 38px;
    line-height: 58px;
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.28em;
    color: #ffffff;
}

#recipes {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 220px;
    margin: 70px;
    gap: 70px;
}

#recipe {
    width: 45vh;
    height: 45vh;
    transition: 0.5s;
}

#recipe:hover {
    transform: translateY(-10px);
}

#recipe span {
    position: relative;
    bottom: 110px;
    font-weight: 900;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 26px;
    line-height: 30px;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.18em;
    background-color: #ffffff;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#mobile {
    display: none;
}

@media only screen and (max-width: 900px) {
    #desktop {
        display: none;
    }
    #mobile {
        display: block;
    }
    #heading span {
        font-size: 28px;
    }
    #recipes {
        width: 100vw;
        margin: 0;
        margin-top: 70px;
        margin-bottom: 70px;
        flex-direction: column;
    }

}