body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/backgrounds/home.jpg');
    background-position: bottom left 20%;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

a {
    color: #272422;
    text-decoration: none;
}

.desktop {
    display: flex;
}

.mobile {
    display: none;
}

#title {
    right: 0;
    position: absolute;
    padding-left: 0.5em;
    padding-right: 0.5em;
    transform: translateY(15vh);
    height: 140px;
    background-color: #272422;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 6vh;
    line-height: 67px;
    display: inline-block;
    letter-spacing: 0.22em;
}

#subtitle {
    right: 2.5em;
    position: absolute;
    padding-left: 8px;
    padding-right: 4px;
    transform: translateY(10vh);
    height: 60px;
    background-color: #FFFFFF;
    color: #272422;
    font-weight: 800;
    font-size: 2.9vh;
    line-height: 67px;
    display: inline-block;
    letter-spacing: 0.1em;
}

#subsubtitle {
    right: 18vw;
    position: absolute;
    transform: translateY(calc(15vh + 130px));
    height: 60px;
    color: #272422;
    font-weight: 300;
    font-size: 3.2vh;
    line-height: 67px;
    letter-spacing: 0.18em;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
}

span {
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#links {
    transform: translate(0.5em, calc(25vh + 130px));
    position: absolute;
    right: -0.5em;
}

#link {
    position: relative;
    margin-bottom: 40px;
    padding-right: 1em;
    background-color: #FFFFFF;
    height: 65px;  
    width: 350px;
    display: block;
    font-size: 4vh;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0.06em;
    transition: 0.5s;
}

#link .container {
    justify-content: flex-end;
}

#link:hover {
    transform: translate(-0.5em);
}

#back {
    position: absolute;
    width: 150px;
    height: 60px;
    transform: translateX(-0.7em);
    left: 0px;
    top: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #272422;
    transition: 0.5s;
}

#back:hover {
    transform: translateX(0em);
}

#nav {
    position: absolute;
    height: 60px;
    right: 0px;
    top: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #272422;
}

#nav span {
    width: 130px;
    height: 60px;
    font-weight: 200;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

#back span {
    width: 130px;
    height: 60px;
    font-weight: 200;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}



@media only screen and (max-width: 900px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    #title {
        font-size: 5vh;
    }
    #subsubtitle{
        right: 96px;
        font-size: 2.6vh;
    }
    #back, #nav{
        height: 50px;
    }
    #navs span, #back span {
        height: 50px;
    }
}